// includes/footer.jade

.row.contact
	.row
		.col-xs-6
			br
			| Contact us
			.row
				br
				br
				.col-xs-12(style="font-size:2em; text-shadow: 0 0 1px black")
					| ipviope@ipviope.tk
		.col-xs-6
			br
			| Created by
			.row
				.col-xs-12
					ul(style="list-style-type: none;padding:0")
						li &nbsp;
						li Vincent Boulanger								
						li Lucas Gehin								
						li Gregory Baton								
						li 
							a(href="https://plus.google.com/+GeoffreyGaillard", target="_blank")
								| Geoffrey Gaillard
				
	.row
		.col-xs-12
			br
			i © Copyrigths 2013 - Creators and  IUT Charlemagne
			br
			br