// inlcudes/navbar.jade
.navbar.navbar-default.navbar-fixed-top(role='navigation')
	.container-fluid
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') IpVIOPE

	#navbar-main.collapse.navbar-collapse
		ul.nav.navbar-nav
			li
				a(href='#')
					span.glyphicon.glyphicon-pencil
					|  Documents
			li
				a(href='/chat', target='_blank')
					span.glyphicon.glyphicon-facetime-video
					|  Chat
			li
				a(href='/calendar', target='_blank')
					span.glyphicon.glyphicon-calendar
					|  Calendar

			//-li.divider-vertical

			li
				a#top-link(href='#')
					span.glyphicon.glyphicon-arrow-up
					|   Top
			li
				a#docs-link(href='#')
					span.glyphicon.glyphicon-pushpin
					|   Pinned docs
			li
				a#projects-link(href='#')
					span.glyphicon.glyphicon-briefcase
					|   Projects
			li
				a#users-link(href='#')
					span.glyphicon.glyphicon-user
					|   Users
		ul.nav.navbar-nav.navbar-right
			li.dropdown
				a.dropdown-toggle(href='#', data-toggle='dropdown')  Settings <b class='caret'> </b>

					ul.dropdown-menu
						li
							a(href='/account') My Account
						li.divider
						li
							a(href='#') Help
						li
							a(href='#') Report a bug
						li.divider
						li
							a(href='logout')
								span.logout-btn
									span.icon-remove-sign
									| Logout