doctype html
html(ng-app)
	head
		title Account - IpVIOPE
		link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/imgAreaSelect/imgareaselect-animated.css')
		link(rel='stylesheet', href='/stylesheets/account.css')
		

	body

		include includes/navbar

		.main-container.row(ng-controller="accountController")
			.col-xs-12
				.titre My Account

			form.row(id="account_form", name="account_form")
				.col-xs-4
					.form-group
						label(for='password1') Your password:
						input.form-control(id='password1', type="password", ng-model='password1', value="test")
					.form-group
						label(for='password2') Your password again:
						input.form-control(id='password2', type="password", ng-model='password2', value="test")
					.form-group
						label(for='email') E-Mail:
						input.form-control(id='email', type="email", ng-model='email', value="test@test.com")
					.form-group
						label(for='country') Your Country:
						select.form-control(id='country')
					.form-group
						label(for='project') Your Project:
						select.form-control(id='project')
				.col-xs-8#avatar-container
					.form-group
						label(for='avatar-field')
						input.form-control(type="file", id="avatar-field")
					.col-xs-6#avatar-renderer-container
						img(id="avatar-renderer")
					.col-xs-6#avatar-result-container
						canvas(id="avatar-result")

			.row
				.col-xs-12(style="text-align: center;")
					button.btn.btn-success(ng-click="update()", id="submit_btn")
						span.glyphicon.glyphicon-save
						| &nbsp; Save



		img#ajaxloader(src="/images/ajax-loader.gif", alt='')

		script(type='text/javascript', src='/javascripts/jquery-1.10.2.js')
		script(type='text/javascript', src='/javascripts/bootstrap/js/bootstrap.js')
		script(type='text/javascript', src='/javascripts/home/jquery.imgareaselect.pack.js')
		script(type='text/javascript', src='/javascripts/angular.js')
		script(type='text/javascript', src='/javascripts/account/main.js')