doctype html
html(ng-app)
	head
		title Account - IpVIOPE
		link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/imgAreaSelect/imgareaselect-animated.css')
		link(rel='stylesheet', href='/stylesheets/home.css')
		script(type='text/javascript', src='/socket.io/socket.io.js')

	body

		include includes/navbar




		img#ajaxloader(src="/images/ajax-loader.gif", alt='')

		script(type='text/javascript', src='/javascripts/jquery-1.10.2.js')
		script(type='text/javascript', src='/javascripts/bootstrap/js/bootstrap.js')
		script(type='text/javascript', src='/javascripts/home/jquery.imgareaselect.pack.js')
		script(type='text/javascript', src='/javascripts/angular.js')