doctype html
html(ng-app="chat")
	head
		title Chat - IpVIOPE



		link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/chat.css')
		script(type='text/javascript', src='/socket.io/socket.io.js')

		

	body
		
		include includes/navbar

		.main-container#chat(ng-controller="chatController")
			.conference.container-fluid
				.row#videos
					.col-xs-1#local
					.col-xs-1#mute-container
						span#mute.glyphicon.glyphicon-volume-up(ng-click='toggleMute()')
							| &nbsp;
					.col-xs-10
						#remote
			.main-container.container-fluid
				.col-xs-12
					.row#chat-display
						.col-xs-2.people-container
							.row
								.people
									.well.well-sm
										| In this room
									.liste#users
										ul.list-group
											li.list-group-item(ng-repeat="user in liste_users")
												.user
													img(ng-src="/images/Country/{{user.country.name}}.jpg", alt="{{user.country.name}}")
													a.infoUser(href="#", rel="popover", data-placement="bottom", data-content=" From {{user.country.name}}", data-original-title="{{user.username}}")
														| &emsp;{{user.username}}
						.col-xs-8								
								ul.nav.nav-tabs
									li(ng-repeat="(key, room) in room_joined track by $index", ng-class="{ 'active' : room.room_name == active_room}", ng-click="subscribe(room.room_name)")
										a(href="#{{room.room_name}}", data-toggle="tab" )
											span.call( title='Begin / Join a videoconference' ng-click="call( room.room_name, $event)", ng-show="(room.room_name != 'Global' && active_room == room.room_name && !calling ) || (webrtc.active_room == room.room_name)")
												span.glyphicon.glyphicon-earphone(style="color: {{calling ? 'red': 'green'}};")
													| &nbsp;
											| {{room.room_name}}
											span.message-missed(ng-show="room.new_message_count > 0" )
												| (
												span.count {{room.new_message_count}}
												| )
											span.leave-room(ng-click="leave(room.room_name, $event)", ng-hide="false && is_protected(room.room_name)")
												|  &cross;
								
								<!-- Tab panes -->
								.tab-content
									.tab-pane.fade.in(ng-repeat="(key, room) in room_joined track by $index" , ng-class=" room.room_name == active_room ? 'active' : '' ", name="{{room.room_name}}")
										.chat_window
											.messages
												.row(ng-repeat="message in liste_messages[room.room_name]")
													.message( ng-class=" message.fromMe ? 'fromMe' : 'fromOther' ")
														img(ng-src="{{message.user.image.url_thumbnail}}")
														.inner
															.info
																span
																	strong 
																		| {{message.user.username}}
																span.date
																	| {{message.date}}
															
															.content 
																| {{message.message}}	

						.col-xs-2.room-container					
								.room
									.well.well-sm
										| Rooms
									.liste
										ul.list-group
											li.list-group-item(ng-repeat="room in liste_rooms")
												a(href='', ng-click="subscribe(room)")
													{{room}}		
					.row#chat-tools
						.col-xs-3
						.col-xs-6
								.new_message
									form(ng-submit="sendMessage()")
										.input-group
											input.form-control(ng-model="message_typing", placeholder="Send a message to {{active_room}} room")
											span.input-group-addon(ng-click="sendMessage()")
												b &rarr;
						.col-xs-3
								.create_room.input-group
									input.form-control(ng-model="new_room_name", placeholder="New room", ng-keyup="create_room($event)" )
									span.input-group-addon(ng-click="create_room(null, true)")
										b &rarr;
			


		img#ajaxloader(src="/images/ajax-loader.gif", alt='')
		#arrowIndicator
			span.glyphicon.glyphicon-arrow-up

		script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
		script(type='text/javascript', src='/javascripts/angular.js')
		script(type='text/javascript', src='/javascripts/angular-animate.js')
		script(src="/javascripts/sha3.js")
		script(src="/javascripts/moment.min.js")
		script(type='text/javascript', src='/javascripts/bootstrap/js/bootstrap.js')

		script(type="text/javascript", src="/javascripts/chat/simplewebrtc.js")

		script(type='text/javascript', src='/javascripts/chat/main.js')
		script(type='text/javascript', src='/javascripts/chat/controller.js')

		audio#snd-message
			source(src="/sounds/test.mp3")
			source(src="/sounds/test.ogg")



