<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap-responsive.css" />
    <!--<link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap-responsive.min.css" />-->
    
    <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.css" />
    <!--<link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css" />-->

    <script type="text/javascript" src="/javascripts/angular.js"></script>
    <!--<script type="text/javascript" src="/javascripts/angular.min.js"></script>-->

  </head>
  <body>
    
  	<div class="main-container container border-bottom">

		    <div class="navbar navbar-fixed-top navbar-inverse">
		      <div class="navbar-inner">
		        <div class="container">
		          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </a>
		          <a class="brand" id="titre" href="#top">ERASMUS Online Collaboration Website</a>
		          <div class="nav-collapse">
		            <ul class="nav">
		              <li><a id="sign-up-link" href="#signup">Sign up</a></li>
		              <li><a id="about-link" href="#">About</a></li>
		              <li><a id="contact-link" href="#contact">Contact</a></li>
		            </ul>
		          </div>
		        </div>
		      </div>
		    </div>

		    <div class="row">&nbsp;</div>
		    <div class="row-fluid" >


		  		

		  		<div class="span6">

		  			<div class="row">
		  				<form class="span10 offset1 log_form">
		  					
							  <fieldset>
							  	<legend>Sign in</legend>
							  	
							    <label for="userame-field">
							      
							      <input type="text" required id="userame-field" placeholder="Username"  />
							    </label>
							    
							    <label for="password-field">
							    	
							      <input type="password" required id="password-field" placeholder="Password" />
							    </label>
							    						    
							    <input class="btn btn-primary" type="submit" value="Sign in" />
							  </fieldset>
							
		  				</form>
		  			</div>

		  		</div>
		  		

				<div class="logos span6">
					<div class="row">

						<div class="span1 offset5">
							<a  target="_blanck" href="http://www.en.pk.edu.pl/">
							<img id="logo-cuot"
							src="/images/logos/cuot.png"
							alt="logo cuot">
							</a>
						</div>

					</div>

					<div class="row">
						<div class="span1">
							<a  target="_blanck" href="http://www.metropolia.fi/en/">

							<img id="logo-metropolia"
							 src="/images/logos/metropolia.png"
							 alt="logo metropolia"
							>
							</a>
						</div>
						<div class="span1 offset6">
							<a  target="_blanck" href="http://www.ipleiria.pt/">

							<img id="logo-ipl"
							 src="/images/logos/ipl.png"
							 alt="logo ipl"
							>
							</a>
						</div>
					</div>
					
					<div class="row">
						<div class="span1 offset5">
							<a  target="_blanck" href="http://www.esn.org/">
								<img id="logo-rotate" src="/images/logos/esn.png" alt="eramsus logo">
							</a>
						</div>
						<div class="span1 offset5">
							<a  target="_blanck" href="http://www.unimi.it/">
								<img 
								id="logo-unimi" 
								src="/images/logos/unimi.png" 
								alt="logo unimi">
							</a>
						</div>
					</div>

					<div class="row">
						
						<div class="span1">
							<a  target="_blanck" href="http://www.gcu.ac.uk/">
							<img id="logo-gcu"
							 src="/images/logos/gcu.png"
							 alt="logo gcu"
							>
							</a>
						</div>
						<div class="span1 offset6">
							<a target="_blank" href="http://www.univ-lorraine.fr/">
								<img id="logo-udl"
								 src="/images/logos/udl.png"
								 alt="logo udl"
								>
							</a>
						</div>
					
					</div>
					
					<div class="row">
						<div class="span1 offset5">
							<a target="_blank" href="http://www.inholland.nl/inhollandcom/">
							<img id="logo-inh" src="/images/logos/inh.png"
							alt="logo inh"
							>
							</a>
						</div>
					</div>

		  			
		  		</div>
			</div>


			<div class="row-fluid logos-container">
				<div class="span4">
					<img class="logo-function" src="/images/logos/doc.png">
						<br>
						<br>
						<i>Google Docs</i> style
						<br>
						Realtime collaborative edition
						<br>
						Documents versioning
						<br>
						Chat directly in the editor
						<br>
				</div>
				<div class="span4">
					<img class="logo-function" src="/images/logos/chat-logo.jpg">
						<br>
						<br>
						Chat
						<br>
						Voice calls
						<br>
						Video meetings
						<br>
					
				</div>
				<div class="span4">
					<img class="logo-function" src="/images/logos/calendar-logo.jpg">
						<br>
						<br>
						<i>Google Calendar</i> Style
						<br>
						Realtime Calendar
						<br>
						Pin events to home page
					</ul>
				</div>
			</div>

			<div id="about" class="row-fluid" >

				<div class="span10 offset1">

						<h1>Erasmus Intensive Programme</h1>
						</br>

						<h2>	Learning Computer Programming in Virtual Environment</h2>

						<h3>
							13 – 24 May 2013 in Espoo, Finland
						</h3>
					
					<p><b>International Intensive Programme organised by:</b></p>
					<ul>
						<li>Helsinki Metropolia University of Applied Sciences, Finland</li>
						<li>Glasgow Caledonian University, United Kingdom</li>
						<li>Hogeschool InHolland, The Netherlands</li>
						<li>IUT Nancy-Charlemagne / Université Nancy2, France</li>
						<li>Polytechnic Institute of Leiria, Portugal</li>
						<li>Politechnika Krakowska, Poland</li>
						<li>Universidad Politécnica de Madrid (UPM), Spain</li>
						<li>Università degli Studi di Milano, Italy</li>
					</ul>
				
				
			
			
			<p>
				70 students and 20 teachers from seven partner institutions of higher education will meet at Helsinki Metropolia UAS in Espoo, Finland, in May 2013 to participate in the Erasmus Intensive Programme. The programme will last for two weeks. In those two weeks students from the partner institutions will work together on the topic in international teams. Prior to the two-week programme students are requested to develop an application prototype remotely in international teams. By successfully completing the Intensive Programme, student earns 5 ECTS credits. Besides work a social programme will be offered to all participants.
			</p>
			
			
				<h2>
					Aims and Objectives of the IP
				</h2>

				<p>
					The computer applications are more numerous and they have become more complex and integrated. The programming work is respectively spread out into many locations globally A change is taking place in the programming paradigm in industry. Virtual working environments are employed in many corporations. All modern systems and devices are based on software development. The computer programming is always concern whenever an application is developed for a tiny embedded device, a smart card or a huge number cruncher or a PC on your desk. It is seen that there is a permanent shortage of qualified programmers and software engineers in many EU countries.
				</p>
				<p>
					The objective of this IP is to promote teaching and learning of the fundamentals of computer programming through use of virtual and remote learning environments. The qualifications and skills are learned in international teams partly virtually and partly face-to-face. As learning outcome the IP covers software development skills like building a small application, using pair-programming, and working in international team.
				</p>
			
			
				<h2>
					Working Plan
				</h2>
				<ul>
					<li>Preliminary assignments in remote international teams before the intensive weeks</li>
					<li>Intensive weeks at Helsinki Metropolia UAS, Finland</li>
					<li>The teaching will be organised from Monday to Friday</li>
				</ul>

				<br>
				<br>
			

				</div>

			</div>


			<div class="row-fluid contact">
				<div class="span12">&nbsp;</div>
			</div>
			<div class="row-fluid contact border-bottom-round">

				<div class="span6">
					
					Contact us



				</div>

				<div class="span6">
					
					Created by:
					<br>
					<br>
					Vincent Boulanger<br>
					Lucas Gehin<br>
					Gregory Baton<br>
					Geoffrey Gaillard<br>




				</div>

				<div class=" row-fluid contact border-bottom-round ">
					<div class="span12">
						<br>
						<i>&copy; Copyrigths 2013 - Creators and  IUT Charlemagne</i>
						<br>
						<br>
						<br>
					</div>
				</div>
			</div>








	</div>

    <!-- Scripts se chargants après le document -->

    <script type="text/javascript" src="/javascripts/jquery-1.10.2.js"></script>
    <!--<script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>-->
    
    <script type="text/javascript" src="/javascripts/bootstrap/js/bootstrap.js"></script>
    <!--<script type="text/javascript" src="/javascripts/bootstrap/js/bootstrap.min.js"></script>-->

    <script type="text/javascript" src="/javascripts/jQueryRotateCompressed.2.2.js"></script>

    <script type="text/javascript" src="/javascripts/jquery-ui-1.10.3.custom.min-only-shake.js"></script>

    <script type="text/javascript">

    $(window).on("load",function(){

    	$(".logos img").on("mouseenter",function(){
    		if( ! $(this).is(":animated") ){
    			$(this).effect("shake",{
    				distance: 1,
    				times: 3
    			});
    		}
    		
    	});

    	$(".logo-function").on("mouseenter",function(){
    		$(this).animate({
    			"border-radius": '-=25'
    		});
    	});
    	$(".logo-function").on("mouseleave",function(){
    		$(this).animate({
    			"border-radius": '+=25'
    		});
    	});

    	setTimeout(function(){
    		function rotate(){
    			$("#logo-rotate").rotate({
			            duration:10000,
			            angle: 0, 
			            animateTo:360,
			            callback: function(){
			            	start_shake_logos();
			            	rotate();
			            },
			            easing: function (x,t,b,c,d){ 
          					return c*(t/d)+b;
      					}
			    });
    		}
    		rotate();
    		    	
    	}, 1000);

    	var liste_logos=[
    		{id:"#logo-ipl"},
    		{id:"#logo-inh"},
    		{id:"#logo-metropolia"},
    		{id:"#logo-udl"},
    		{id:"#logo-gcu"},
    		{id:"#logo-cuot"},
    		{id:"#logo-unimi"},
    	];

    	
    	function shake_logo( id, time ){
    		setTimeout(function(){

    			$(id).effect("shake",{
    				distance: 1,
    				times: 3
    			});			    

    		}, time*100);

    	}

    	function start_shake_logos(){
	    	for (var i = 0; i < liste_logos.length; i++) {
	    		var logo = liste_logos[i];
	    		shake_logo( logo.id, i+1);
	    	};

    	}
    	start_shake_logos();
    });
    	

	var slide_time = 1000;
	$("#titre").on("click",function(e){
		e.preventDefault();
		e.stopPropagation();
		var top = 0;
		$("html, body").animate({
			scrollTop: top
		},slide_time);
	});
	$("#about-link").on("click",function(e){
		e.preventDefault();
		e.stopPropagation();
		var top = $("#about").offset().top - 50;
		$("body").animate({
			scrollTop: top
		}, slide_time);
	});
	$("#contact-link").on("click",function(e){
		e.preventDefault();
		e.stopPropagation();
		var top = $(".contact").eq(0).offset().top;
		$("body").animate({
			scrollTop: top
		}, slide_time);
	});




    </script>

  </body>
</html>