body_padding = 20px

.red
	border 1px red solid

body
	position relative
	padding auto
	padding 0 body_padding 0 body_padding
	font 14px  "Lucida Grande", Helvetica, Arial, sans-serif
	background-image url("/images/backgrounds/main-rzd.jpg")
	background-size cover

a
	color #00b7ff

.nav li
	margin-right 10px




padding_main_container = 0 30px 0 30px
radius_main = 10px

.main-container
	margin-top 5%

	
	padding padding_main_container
	background-color rgba(255, 255, 255, 0.8)
	border-radius radius_main

margin_top = 60px 0 0 0
margin_section = 30px 0 30px 0


#avatar-container, #avatar-result-container, #avatar-renderer-container
	text-align center

#avatar-renderer-container
	height 240px
#avatar-result
	border 3px white solid
	box-shadow 0 0 5px gray

.titre
	margin-top 4%
	margin-bottom 1%
	font-size xx-large
	font-weight bold
	text-shadow 0 0 1px gray

.settings-btn
	color white

.logout-btn
	color red

separation = 1px gray solid

.separation-right
	border-right separation
.separation-left
	border-left separation
.separation-top
	border-top separation
.separation-bottom
	border-bottom separation

radius = 20px
.border-bottom-round
	border-bottom-left-radius radius
	border-bottom-right-radius radius
.rounded
	border-radius radius




.modal-dialog
	width 80%


.contact
	color white
	text-shadow 0 0 2px black
	text-align center

	margin: auto
	background-color #333
	border-bottom-right-radius 20px
	border-bottom-left-radius 20px

	margin-bottom 100px
	margin-top -10px
	padding 20px 0

	ul
		list-style-type: none


#ajaxloader
	position fixed
	
	top 310px
	left 50%
	margin-left -65px
	width 128px
	display none
	