body {
  padding: 0 1.1%;
  background-image: url("/images/backgrounds/main-rzd.jpg");
  background-size: cover;
}
.logout-btn {
  color: #f00;
}
#calendar {
  background-color: rgba(255,255,255,0.933);
  padding: 1%;
  border-radius: 5px;
  margin-top: -19px;
}
#ajaxloader {
  position: fixed;
  top: 310px;
  left: 50%;
  margin-left: -65px;
  width: 128px;
  display: none;
}
