

body
	padding 0 1%

	background-image url("/images/backgrounds/main-rzd.jpg")
	background-size cover

.logout-btn
	color red

#calendar
	background-color #FFFE

	padding 1%

	border-radius 5px



#ajaxloader
	position fixed
	
	top 310px
	left 50%
	margin-left -65px
	width 128px
	display none
	