body
	padding 0 1.1%

	background-image url("/images/backgrounds/main-rzd.jpg")
	background-size cover

.logout-btn
	color red

#calendar
	background-color #FFFE
	padding 1%
	border-radius 5px

	margin-top -19px


#ajaxloader
	position fixed
	z-index 9999
	top 310px
	left 50%
	margin-left -65px
	width 128px
	display none

#popup-edit-event, #popup-show-event
	
	.close
		color red

	.options
		width 100%
		text-align center

	.title
		font-size x-large

	.date-start, .date-end
		font-size large
.modal-dialog
	width 95%
.modal-body
	min-height 350px

#color-row
	height 2px

@media (max-width: 730px)
	.modal-dialog
		width 100%




.fc-event
	box-shadow 0 0 0px white

.fc-event-draggable
	animation: shake-edit 0.3s infinite alternate	
	-webkit-animation: shake-edit 0.3s infinite alternate

.fc-event:hover
	box-shadow: 0 0 10px black
	animation: event-over 0.2s
	-webkit-animation: event-over 0.2s


@keyframes event-over
	from
		box-shadow: 0 0 0px white	
	to
		box-shadow: 0 0 10px black

@-webkit-keyframes event-over
	from
		box-shadow: 0 0 0px white	
	to
		box-shadow: 0 0 10px black




@css{
	@keyframes shake-edit{

		0%		{transform: rotate(0deg)}
		25%		{transform: rotate(-1deg)}
		50%		{transform: rotate(0deg)}
		75%		{transform: rotate(1deg)}
		100%	{transform: rotate(0deg)}
	}

	@-webkit-keyframes shake-edit{

		0%		{ -webkit-transform: rotate(0deg)}
		25%		{ -webkit-transform: rotate(-1deg)}
		50%		{ -webkit-transform: rotate(0deg)}
		75%		{ -webkit-transform: rotate(1deg)}
		100%	{ -webkit-transform: rotate(0deg)}
	}
	
}


// @-moz-keyframes shake-edit
// {
// 0%   {-moz-transform: rotate(0deg)}
// 25%  {-moz-transform: rotate(-10deg)}
// 50%  {-moz-transform: rotate(0deg)}
// 75%  {-moz-transform: rotate(10deg)}
// 100% {-moz-transform: rotate(0deg)}
// }

// @-o-keyframes shake-edit
// {
// 0%   {transform: rotate(0deg)}
// 25%  {transform: rotate(-10deg)}
// 50%  {transform: rotate(0deg)}
// 75%  {transform: rotate(10deg)}
// 100% {transform: rotate(0deg)}
// }