body
	padding 0 1.1%

	background-image url("/images/backgrounds/main-rzd.jpg")
	background-size cover

.logout-btn
	color red

#calendar
	background-color #FFFE
	padding 1%
	border-radius 5px

	margin-top -19px


#ajaxloader
	position fixed
	z-index 9999
	top 310px
	left 50%
	margin-left -65px
	width 128px
	display none

#popup-edit-event, #popup-show-event
	
	.close
		color red

	.options
		width 100%
		text-align center

	.title
		font-size x-large

	.date-start, .date-end
		font-size large
.modal-dialog
	width 75%
.modal-body
	min-height 350px

@media (max-width: 730px)
	.modal-dialog
		width 100%

	



.fc-event-draggable
	box-shadow: 0 0 0px white

.fc-event-draggable:hover
	box-shadow: 0 0 10px black
	animation: event-over 0.2s

@keyframes event-over
	from
		box-shadow: 0 0 0px white	
	to
		box-shadow: 0 0 10px black
