body {
  padding: 0 1%;
  background-image: url("/images/backgrounds/main-rzd.jpg");
  background-size: cover;
}
.logout-btn {
  color: #f00;
}
#chat {
  margin: auto;
  background-color: rgba(255,255,255,0.933);
  padding: 1%;
  border-radius: 5px;
  height: 100%;
}
#ajaxloader {
  position: fixed;
  top: 310px;
  left: 50%;
  margin-left: -65px;
  width: 128px;
  display: none;
}
.room {
  width: 15%;
  position: fixed;
  top: 72px;
  right: 0;
  bottom: 0;
  display: inline-block;
  border-left: 1px rgba(0,0,0,0.1) solid;
  padding: 1%;
}
.people {
  position: fixed;
  top: 72px;
  left: 0;
  bottom: 0;
  width: 15%;
  border-right: 1px rgba(0,0,0,0.1) solid;
  padding: 1%;
  padding-left: 2%;
}
.chat_window {
  display: inline-block;
  padding: 1%;
  margin-left: 15%;
}
.new_message {
  position: fixed;
  left: 15%;
  right: 15%;
  background-color: #d2d2d2;
  bottom: 0;
  height: 40px;
}
