body {
  padding: 0 1%;
  background-image: url("/images/backgrounds/chat.jpg");
  background-size: cover;
}
.logout-btn {
  color: #f00;
}
#chat {
  background-color: rgba(255,255,255,0.5);
  padding: 1%;
  border-radius: 5px;
  height: 90%;
}
.room-container {
  padding: 0;
}
#ajaxloader {
  position: fixed;
  top: 6px;
  right: 116px;
  margin-left: -65px;
  width: 41px;
  display: none;
}
.room {
  overflow-y: scroll;
  text-align: center;
}
.room .well {
  margin-bottom: 0;
}
.room .liste {
  text-align: left;
}
.people {
  overflow-y: scroll;
  text-align: center;
}
.people .well {
  margin-bottom: 0;
}
.people #users {
  text-align: left;
}
.people #users ul {
  list-style-type: none;
  padding: 0;
}
a#infoUser {
  color: inherit;
  text-decoration: none;
}
.chat_window {
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat_window .messages .message {
  min-width: 40%;
  max-width: 89%;
  box-shadow: 0px 0px 5px #808080;
  border: 1px solid #fff;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  padding: 1% 2%;
  word-break: break-all;
}
.chat_window .messages .fromMe {
  margin: 6px 3% 0.5% 0;
  float: right;
}
.chat_window .messages .fromOther {
  margin: 6px 0 0.5% 3%;
  float: left;
}
.chat_window .messages .date {
  float: right;
}
.people_in_room {
  font-size: 24px;
  margin-top: 2%;
}
.new_message button {
  float: right;
  display: inline-block;
  margin-top: 0.3%;
  width: 60px;
}
.create_room {
  float: right;
  width: 65%;
}
.input-group-addon {
  cursor: pointer;
}
.leave-room {
  color: #f00;
  cursor: pointer;
  font-size: 1.1em;
}
.leave-room:hover {
  text-shadow: 0 0 4px #f00;
}
.message-missed .count {
  color: #008000;
  font-weight: bold;
}
.conference {
  border: 1px #000 solid;
  position: relative;
  margin-bottom: 1%;
  text-align: center;
  vertical-align: bottom;
}
.conference .col-xs-12 {
  position: absolute;
  bottom: 0;
}
.conference #remotesVideos {
  border: 1px #f00 solid;
}
.conference #remotesVideos video {
  border: 1px #ff0 solid;
}
.conference #localVideo {
  border: 1px #00f solid;
}
.conference video {
  width: 100px;
  opacity: 0;
/* height: 500px; */
}
/*
	We're using CSS transitions for when
	the enter and move events are triggered
	for the element that has the .repeated-item
	class
*/
.repeated-item.ng-enter,
.repeated-item.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}
/*
	The ng-enter-active and ng-move-active
	are where the transition destination properties
	are set so that the animation knows what to
	animate.
*/
/*
We're using CSS keyframe animations for when
the leave event is triggered for the element
that has the .repeated-item class
*/
.ng-enter {
  -webkit-animation: 0.6s message_appear;
  -moz-animation: 0.6s message_appear;
  -o-animation: 0.6s message_appear;
  animation: 0.6s message_appear;
}
.ng-leave {
  -webkit-animation: 0.6s message_appear reverse;
  -moz-animation: 0.6s message_appear reverse;
  -o-animation: 0.6s message_appear reverse;
  animation: 0.6s message_appear reverse;
}
/*
	Unfortunately each browser vendor requires
	its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes my_animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-o-keyframes my_animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes message_appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes message_appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes message_appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes message_appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes message_appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
