@import url(http://fonts.googleapis.com/css?family=Ubuntu)

body_padding = 20px

.red
	border 1px red solid

body
	position relative
	padding auto
	padding 0 body_padding 0 body_padding
	font 14px  'Ubuntu', "Lucida Grande", Helvetica, Arial, sans-serif
	background url("/images/backgrounds/amphitheater-small.jpg") no-repeat center center fixed
	background-size cover

a
	color #00b7ff

.navbar
	background-color rgba(255,255,255, 0.9) !important
	.nav li
		margin-right 10px
	img
		width 50px
		margin-top 1px
		border-radius 5px
		box-shadow 0 0 5px gray

.divider-vertical
	height 50px
	margin 0 9px
	border-left 1px solid #F2F2F2
	border-right 1px solid #FFF


padding_main_container = 0 30px 0 30px
radius_main = 10px

.main-container
	margin-top 0px
	
	padding padding_main_container
	background-color rgba(255, 255, 255, 0.9)
	border-radius radius_main

margin_top = 60px 0 0 0
margin_section = 30px 0 30px 0

.header-top
	padding margin_top
	margin margin_top
	text-align center

	.content
		padding-top 30px		
	.list-group-item		
		text-align left
		.table-events
			width 100%
		table
			//width 100%
			td
				width 50%
				vertical-align middle
			.news-date, .event-date
				width 100%
				font-style italic
				color gray
				text-align right
			.event-date
				float right
			.news-by, .event-by	
				width 100%
				white-space no-wrap
		img
			float right
			width 84px
			margin -10px -14.5px 0 0
			box-shadow 0px 0px 5px gray
	.list-group-item:first-child
		> .list-group-item-heading
			> img
				border-top-right-radius 5px
	.list-group-item:last-child
		> .list-group-item-heading
			> img
				border-bottom-right-radius 5px

	.list-group-item-text
		text-align justify

.section
	padding margin_section
	text-align center
	.titre
		padding-bottom 20px
	.content
		font-size normal
		text-align justify

.titre
	font-size xx-large
	font-weight bold
	//text-shadow 0 0 1px gray

.settings-btn
	color white

.logout-btn
	color red

separation = 1px gray solid

.separation-right
	border-right separation
.separation-left
	border-left separation
.separation-top
	border-top separation
.separation-bottom
	border-bottom separation

radius = 20px
.border-bottom-round
	border-bottom-left-radius radius
	border-bottom-right-radius radius
.rounded
	border-radius radius


/* ----------------- */

// Users


largeur = 150px
haut = 100px

.users-link-section, .projects-link-section, .important-docs-section
	padding 0
	.users, .projects, .documents

		text-align center

		.navbar-inner
			text-align left
		.content
			height 500px // Attention redéfini en dessous pour .projects-link-section, .important-docs-section
			text-align center
			//overflow-y scroll

			.user:first-child
				//margin-left 30px
			tr
				vertical-align top
			.user, .project	, .document			
				text-align left
				min-height haut
				max-height haut
				border 1px rgba(0, 0, 0, 0.1) solid
				background-color rgba(255,255,255, 0.9)
				border-radius 10px
				margin 0
				padding 0
				vertical-align top
				img
					margin-top -2px
					margin-left -1px
					display inline
					max-width haut
					max-height haut
					border-top-left-radius 10px
					border-bottom-left-radius 10px
					box-shadow 0px 0px 5px lightgreen
				.info-user
					width 100%
					padding-left 2%					

				.connected
					background-color green
					width 20px
					height 20px
					float right
					border-bottom-left-radius 10px
					border-top-right-radius 10px
					margin-right -1px
					margin-top -1px
				.username
					width 100%
					text-align center
					font-weight bold

		.document
			> .inner
				width 100%
				padding 1%
			.document-title
				width 100%
				text-align center
		.project-name
			font-size larger
			text-decoration underline
			font-weight bold
		.country
			float right
			margin-right 5px

.projects-link-section, .important-docs-section
	.content
		max-height 300px

.users-link-section .users .content .user .country img 
	display: inline;
	max-width: 16px;
	max-height: 11px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;


.modal-dialog
	width 80%
.modal-body
	//min-height 530px



.contact
	color white
	text-shadow 0 0 2px black
	text-align center

	margin: auto
	background-color #333
	border-bottom-right-radius 20px
	border-bottom-left-radius 20px

	margin-bottom 100px
	margin-top -10px
	padding 20px 0

	ul
		list-style-type: none


#ajaxloader
	position fixed
	
	top 310px
	left 50%
	margin-left -65px
	width 128px
	display none

.clearbackground
	background rgb(255,255,255) /* Old browsers */
	background url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+")
	background -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%) /* FF3.6+ */
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))) /* Chrome,Safari4+ */
	background -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* Chrome10+,Safari5.1+ */
	background -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* Opera 11.10+ */
	background -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* IE10+ */
	background linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* W3C */
	//filter progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ) /* IE6-8 */
.clearbackground:hover
	box-shadow 0 0 5px gray
	cursor pointer

.ng-enter
	-webkit-animation 0.6s message_appear
	-moz-animation 0.6s message_appear
	-o-animation 0.6s message_appear
	animation 0.6s message_appear

.ng-leave
	-webkit-animation 0.6s message_appear  reverse
	-moz-animation 0.6s message_appear reverse
	-o-animation 0.6s message_appear reverse
	animation 0.6s message_appear reverse


@keyframes message_appear
	from 
		opacity	0
	to 
		opacity	1