body_padding = 20px

.red
	border 1px red solid

body
	position relative
	padding auto
	padding 0 body_padding 0 body_padding
	font 14px  "Lucida Grande", Helvetica, Arial, sans-serif
	background url("/images/backgrounds/amphitheater-small.jpg") no-repeat center center fixed
	background-size cover

a
	color #00b7ff

.navbar
	background-color rgba(255,255,255, 0.9) !important
	.nav li
		margin-right 10px
	img
		width 50px
		margin-top 1px
		border-radius 5px
		box-shadow 0 0 5px gray

.divider-vertical
	height 50px
	margin 0 9px
	border-left 1px solid #F2F2F2
	border-right 1px solid #FFF


padding_main_container = 0 30px 0 30px
radius_main = 10px

.main-container
	margin-top 0px
	
	padding padding_main_container
	background-color rgba(255, 255, 255, 0.9)
	border-radius radius_main

margin_top = 60px 0 0 0
margin_section = 30px 0 30px 0

.header-top
	padding margin_top
	margin margin_top
	text-align center

	.content
		padding-top 30px		
	.list-group-item		
		text-align left
		table
			//width 100%
			td
				width 50%
				vertical-align middle
			.news-date
				width 25%
				font-style italic
				color gray
				text-align right
			.news-by				
				width 100%
				white-space no-wrap
		img
			float right
			width 84px
			margin -10px -14.5px 0 0
			box-shadow 0px 0px 5px gray
	.list-group-item:first-child
		> .list-group-item-heading
			> img
				border-top-right-radius 5px
	.list-group-item:last-child
		> .list-group-item-heading
			> img
				border-bottom-right-radius 5px

	.list-group-item-text
		text-align justify

.section
	padding margin_section
	text-align center
	.titre
		padding-bottom 20px
	.content
		font-size normal
		text-align justify

.titre
	font-size xx-large
	font-weight bold
	text-shadow 0 0 1px gray

.settings-btn
	color white

.logout-btn
	color red

separation = 1px gray solid

.separation-right
	border-right separation
.separation-left
	border-left separation
.separation-top
	border-top separation
.separation-bottom
	border-bottom separation

radius = 20px
.border-bottom-round
	border-bottom-left-radius radius
	border-bottom-right-radius radius
.rounded
	border-radius radius


/* ----------------- */

// Users


largeur = 150px
haut = 100px

.users-link-section, .projects-link-section
	padding 0
	.users, .projects
		

		text-align center

		.navbar-inner
			text-align left
		.content
			min-height 500px
			text-align center
			//overflow-y scroll

			.user:first-child
				//margin-left 30px
			tr
				vertical-align top
			.user						
				text-align left
				min-height haut
				max-height haut
				border 1px rgba(0, 0, 0, 0.1) solid
				border-radius 10px
				margin 0
				padding 0
				vertical-align top
				img
					margin-top -2px
					margin-left -1px
					display inline
					max-width haut
					max-height haut
					border-top-left-radius 10px
					border-bottom-left-radius 10px
					box-shadow 0px 0px 5px lightgreen
				.info-user
					width 100%					

				.connected
					background-color green
					width 20px
					height 20px
					float right
					border-bottom-left-radius 10px
					border-top-right-radius 10px
					margin-right -1px
					margin-top -1px

		.project-name
			font-size larger
			text-decoration underline
			font-weight bold
		.country
			display inline

.users-link-section .users .content .user .country img 
	display: inline;
	max-width: 16px;
	max-height: 11px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;


.modal-dialog
	width 80%
.modal-body
	//min-height 530px



.contact
	color white
	text-shadow 0 0 2px black
	text-align center

	margin: auto
	background-color #333
	border-bottom-right-radius 20px
	border-bottom-left-radius 20px

	margin-bottom 100px
	margin-top -10px
	padding 20px 0

	ul
		list-style-type: none


#ajaxloader
	position fixed
	
	top 310px
	left 50%
	margin-left -65px
	width 128px
	display none
	